<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Fact Scraper</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: rgba(255, 166, 0, 0.712)">
  <div class="container-fluid">
    <div class="jumbotron text-center" style="background-color: rgba(128, 0, 0, 0.521);">
      <h1>Mars Fact Scraper</h1>
      <p>Click the button to scrape news about Mars!</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
  <hr>
    <img src="{{ marsfacts.featured_ }}" alt="Featured Mars Image">
    <h2 style="text-align: center;">Most Recent Mars Story:</h2>
    <hr>
    <h3>{{ marsfacts.news_title }}</h3>
    <hr>
    <h3>{{ marsfacts.news_body }}</h3>
  </div>
  <hr>
  <h4 style="text-align: center;">The Hemispheres of Mars</h4>
  <hr>
  <div class = "container">
    <div class = "row">
      <div class = "col" style="margin-top: 50px; margin-bottom: 50px;">
        <p style="position: relative; text-align:center;">{{ marsfacts.hemi_urls[0].title }}</p>
        <img src={{marsfacts.hemi_urls[0].img_url}} width="350">
      </div>
      <div class = "col" style="margin-top: 50px; margin-bottom: 50px;">
        <p style="position: relative; text-align:center;">{{ marsfacts.hemi_urls[1].title }}</p>
        <img src={{marsfacts.hemi_urls[1].img_url}} width="350">
      </div>
      <div class = "row">
        <div class = "col" style="margin-top: 50px; margin-bottom: 50px;">
          <p style="position: relative; text-align:center;">{{ marsfacts.hemi_urls[2].title }}</p>
          <img src={{marsfacts.hemi_urls[2].img_url}} width="350">
        </div>
        <div class = "col" style="margin-top: 50px; margin-bottom: 50px;">
          <p style="position: relative; text-align:center;">{{ marsfacts.hemi_urls[3].title }}</p>
          <img src={{marsfacts.hemi_urls[3].img_url}} width="350">
        </div>
      </div>
      <div class="row">
        <h5 style="text-align: center;">Mars Facts:</h5>
        <table class="table table-dark">
          {{marsfacts.marstable|safe}}
        </marstable>
      </div>
</body>

</html>